.see{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.col{
    margin-left: 30px;
}
.co{
    padding-top: 30px;
    margin-left: 40px;
}
.find{
    padding-bottom: 30px;
    padding-top: 20px;
}