@import url('https://fonts.googleapis.com/css?family=Cabin');


body,html{
    
    background-image: url('https://cdn.hipwallpaper.com/i/48/23/czZwyp.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.img{
    position: relative;
    text-align: center;
    color: white;
    margin-top: -20px;
}
.font{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.min{
    height: 150px;
    padding-top: 20px;
   
}
.min li{
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}
.min1{
    float: left;
    width: 10%;
    padding-top: 35px;
}
.min2{
    float: left;
    width: 10%;
}
.min::after{
    content:  "";
    clear: both;
    display: table;    
}
.min ul{
    margin-left: 40%;
}
.max{
    height: 150px;
    padding-top: 20px;
    
}
.max li{
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}
.min1{
    float: left;
    width: 10%;
    padding-top: 35px;
}
.max::after{
    content:  "";
    clear: both;
    display: table;    
}
.max ul{
    margin-left: 40%;
}