.con{
    margin-left: 75px;
}
.container{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}
.see{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}